.activities {
  .activities-selector-panel {
    @include panel-styling();

    .activity-card {
      @include card-styling();
      gap: 5px;
      .icon-wrapper img {
        height: 3em;
      }
    }

    .activity-card.active {
      @include active-styling();
    }
  }

  .activity-table-panel {
    @include panel-styling();
    table {
      width: 100%;
    }
  }
}
