@mixin panel-styling {
  width: max(500px, 15vw);
  border: 1px $blue-gray solid;
  border-radius: 5px;
  margin: 0.25em;
  @content;
}

@mixin card-padding-and-margin {
  margin: 0.5em;
  padding: 0.25em;
}

@mixin card-styling {
  @include card-padding-and-margin();
  border: 1px $light-blue solid;
  border-radius: 5px;
  @content;
}

@mixin active-styling {
  border: 2px $light-blue solid;
  background-color: $light-blue;
  @content;
}
